 #root {
    height: 100%
}

#app-div {
    background: url(./../../Images/girlOnMountain_mobile_left.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    padding-top: 56px !important;
}

/* #body-container{
} */
@media screen and (min-width: 600px) {
    #app-div {
        background: url(./../../Images/girlOnMountain.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        padding-top: 56px !important;
    }
    
}