#nameAndEdit {
    position: absolute;
    padding-left: 0px;
    height: 80%;
    right: 0;
    text-align: center;
}

#profile-card {
    border-radius: 0px 0px 30px 30px;
    background: #0d4160;
    border: 0px;
}

.full-profile-card {
    height: 45%;
    transition: height 500ms
}

.half-profile-card {
    height: 10%;
    transition: height 500ms;
}
#user-details-container{
    bottom: 0px;
    /* position: absolute; */
}
.user-details-container-full {
    height: 55%;
    overflow: auto;
    transition: height 500ms;
}

.user-details-container-half {
    overflow: auto;
    height: 85%;
    transition: height 500ms;

}
.details-half{
    padding-top: 120px;
    transition: padding-top 500ms;
}
.details-full{
    padding-top: 10px;
    transition: padding-top 500ms;
}

#profile-email {
    font-size: 1vw
}

.hide-profile-image {
    position: absolute;
    bottom: 5px;
    right: 25px;
    color: white;
    font-weight: bold;
}

.user-profile-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 0px 0px 30px 30px;
}

.image-shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: inset 0px -15px 20px 0px rgba(0, 0, 0, 0.3), 0px 12px 27px -10px rgba(0, 0, 0, 0.6);
    border-radius: 0 0 30px 30px;
    bottom: 0px;
}

#user-profile-container {
    background: #0d4160;

}

.edit-input-file {
    /* height: 2vw; */
    width: 2vw;
    white-space: normal;
    word-wrap: break-word;
    width: 200px;
    overflow: auto;
}