#nameAndEdit {
    position: absolute;
    padding-left: 0px;
    height: 80%;
    right: 0;
    text-align: center;
}

#profile-card {
    padding: 5px;
    background: #2e292a
}

#profile-email {
    font-size: 1vw
}

.card-img-top {
    border-radius: 50%;
}

.card-title {
    /* font-size: 1.2vw */
}

/* .card-hometown {
    font-size: .9vw;
    margin-bottom: .8vw
} */

#card-img-container {
    max-height: 200px;
    max-width: 200px;
    width: 10vw;
    height: 10vw;
}
/* #edit-profile-button{
    font-size: .7vw;
    padding-top: .3vw;
    padding-bottom: 0.3vw;
    padding-left: 1vw;
    padding-right: 1vw;
    max-width: 4vw;
} */

#user-profile-container {
    background: rgb(117, 104, 98, 0.75)
}

.edit-input{
    height: 2vw;
}

.edit-input-file{
    height: 2vw;
    width: 2vw;
    white-space: normal;
    word-wrap: break-word;
    width: 200px;
    overflow: auto;
}